<!DOCTYPE html>
<html>
<head>
  <title>Product App</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
</html>
<body>

  <div class="nav-bar"></div>

  <div id="app">
    <div class="product">
      
      <div class="product-image">
        <img v-bind:src="image" :alt="imageText">
      </div>
      
      <div class="product-info">
        <h1>{{ product }}</h1>

        <p>{{ description }}</p>

        <p v-if="inStock">In Stock</p>
        <p v-else=>Out of Stock</p>

        <ul>
          <li v-for="detail in details">{{ detail }}</li>
        </ul>

        <div v-for="variant in variants" :key="variant.id">
          <p @mouseover="updateProduct(variant)">
            {{ variant.color }}
          </p>
        </div>

        <button v-on:click="addToCart">Add to Cart</button>

        <div class="cart">
          <p>Cart ({{cart}})</p>
        </div>

      </div>
    
    </div>
  </div>

  <!-- production version, optimized for size and speed -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script src="main.js"></script>

</body>
</html>